// General styles, buttons and head, parragraph
header {
    position: fixed;
    z-index: 99!important;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    font-size: 16px;
    transition: top .2s ease 0s;
} 

h1,h2,h3,h4,h5,h6,span,p,small,ul,a {
    margin: 0;
    font-family: 'Barlow', sans-serif;
}

h2,
h4 {
    color: $white;
}

h2 {
    font-size: 19px;
    font-weight: bold;

    @include responsive-width($sm-viewport) {
        font-size: 28px;
    }
}

h3 {
    font-size: 17px;
    font-weight: bold;
    color: $color-light-blue;

    @include responsive-width($sm-viewport) {
        font-size: 40px;
        line-height: 38px;
    }
}

h4 {
    font-size: 16px;
    font-weight: 100; 
    margin-top: 0;

    @include responsive-width($sm-viewport) {
        margin-top: 15px;
    }   
}

.container {
    height: 450px;
    margin-top: 60px;
    padding: 50px 0;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    background-color: $color-blue;

    picture {
        top: 50%;
        left: 50%;
        width: 100%;
        margin: 0 auto;
        background-color: $color-blue;
        position: absolute;
        transform: translate(-50%, -39%);

        @include responsive-width(540px) {
            transform: translate(-26%, -28%);
        }

        @include responsive-width($sm-viewport) {
            transform: translate(-8%, -30%);
            margin-top: 80px;
        }
    }
}

.container > div.principalcontent {
    top: 50%;
    left: 50%;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);

    @include responsive-width($xxs-viewport) {
        width: 500px;
    }

    @include responsive-width($sm-viewport) {
        margin: 0 auto;
        width: $sm-container;
    }

    @include responsive-width($md-viewport) {
        margin: 0 auto;
        width: $md-container;
    }      
}

br {
    display: none;
    
    @include responsive-width(540px) {
        display: block;
    }
}

.e-button-buy {
    margin-top: 21px;
    text-align: center;

    @include responsive-width($sm-viewport) {
        text-align: left;
    }    
}

.btn-buy {
    width: 122px;
    padding: 9px 5px;
    padding-bottom: 6px;
    margin: 0 auto;
    display: block;
    text-decoration: none;
    line-height: 1;
    outline: 0;
    font-size: 14px;
    font-weight: 700;
    padding: 15px;
    padding-bottom: 13px;
    background-color: #ff560a;
    border: 2px solid #ff560a;
    border-radius: 55px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    transition: all .2s ease 0s;
    vertical-align: top;

    @include responsive-width($sm-viewport) {
        margin: 21px 0 0 0;
    }
}

.e-button-buy small {
    font-size: 10px;
    color: $color-light-blue;

    @include responsive-width($sm-viewport) {
        display: block;
        margin: 70px 0 0 0;
    }
}


.hidden-xs {
    display: none;

    @include responsive-width($xxs-viewport) {
        display: none;
    }
    
    @include responsive-width($xs-viewport) {
        display: none;
    }

    @include responsive-width($sm-viewport) {
        display: block;
    }
}

.hidden-lg {
    @include responsive-width($xxs-viewport) {
        display: block;
    }
    
    @include responsive-width($xs-viewport) {
        display: block;
    }

    @include responsive-width($sm-viewport) {
        display: none;
    }
}
