
.container {
    picture {
        top: 50%;
        left: 50%;
        width: 100%;
        margin: 0 auto;
        background-color: $color-blue;
        position: absolute;

        @media screen and (max-width: 320px){
            transform: translate(-70%, -33%);
        }

        @include responsive-width(375px) {
            transform: translate(-70%, -32%);
        }

        @include responsive-width(425px) {
            transform: translate(-70%, -30%);
        }       

        @include responsive-width(540px) {
            transform: translate(-26%, -28%);
        }

        @include responsive-width($sm-viewport) {
            transform: translate(-8%, -33%);
            margin-top: 80px;
        }
    }    
}


.slick-home {
    margin: 0;
    overflow: hidden;

    .slick-slide {
        .animated {
            opacity: 0;
            transform: translateY(20px);
            transition: all .5s ease 0s;
        }

        &.slick-active {
            .animated {
                transform: translate(0);
                opacity: 1;
                transition-delay: .3s;
            }
        }
    }
}


.principalcontent {
    &__textbanner {
        text-align: center;
        margin-bottom: 3%;

        @include responsive-width(540px) {
            text-align: left;
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__imgbanner {
        img {
            max-width: 80%;
        }

        @media screen and (max-width: 539px){
            margin-left: 25%;
        }

        @media (min-width: 640px) and (max-width:800px) {
            margin-left: 4px; 

            img {
                max-width: 100%;
            }    
        }

        @media (min-width: 924px) {
            margin-left: 4%;

            img {
                max-width: 100%;
            }   
        }

        @media (min-width: 1024px) {
            margin-left: 14%;

            img {
                max-width: 100%;
            }   
        }
    }

    &__imgbanner,
    &__model {
        display: inline-block;
        vertical-align: text-top;

        @include responsive-width($sm-viewport) {
            vertical-align: middle;
        }  
    }

    &__model {
        margin-left: -25px;
        margin-top: 21px;

        .brand {
            font-size: 17px;
            font-weight: bold;
            line-height: normal;
        }

        .model {
            font-size: 18px;
            font-weight: 400;
            color: $color-blue;

            @include responsive-width($sm-viewport) {
                font-size: 25px;
            } 
        }   
        
        small {
            font-size: 17px;
            font-weight: bold;
            color: $color-blue;
            
            &:nth-of-type(2) { 
                color: $color-light-blue;
            }

            @include responsive-width($sm-viewport) {

                &:nth-of-type(2) {
                    position: absolute;
                    width: 40px;
                    line-height: normal;
                    font-size: 13px;
                }
            } 
        }

        p {
            font-size: 43px;
            font-weight: bold;
            color: $color-blue;

            span {
                font-size: 34px;
            }

            @include responsive-width($sm-viewport) {
                top: -18px;
                font-size: 88px;
                line-height: normal;
                position: relative;

                span {
                    font-size: 46px;
                }
            } 
        }


        @include responsive-width($xxs-viewport) {
            margin-left: 7px;
        } 

        @include responsive-width($sm-viewport) {
            .btn-buy {
                margin-top: 0;
                position: absolute;
            }
        }
    }

    &__plan {

        width: 100%;
        position: absolute;

        ul {
            padding: 0;
            position: absolute;
            list-style: none;

            @include responsive-width($sm-viewport) {
                top: -20px;
            }
        }
        
        ul li {
            font-size: 9px;
            font-weight: 400;
            color: $color-blue;

            &::before  {
                content: " ● ";
                left: -1px;
                position: relative;
                color: $orange;
            }

            @include responsive-width($sm-viewport) {
                font-size: 12px;
            }
        }
    }

    &__dsctoimg {

        position: relative;

        img {
            margin: 0 auto;
        }

        img ~ div.e-button-buy {
            margin-top: 7px;
        }

        @include responsive-width(768px) {
            top: 0;
            right: 0;
            position: absolute;
        }
    }
}
